.splitter > .gutter {
  border-color: #35353A;
  background: #2a2e39;
}
.splitter > .gutter.active {
  border-color: #35353A;
  background: #2a2e39;
}
.splitter>.gutter::before {
  border-color: #007ACC;
  background-color: #007ACC;
}